In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.ensemble import RandomForestClassifier as rf
rf=rf()

In [74]:
data=pd.read_csv(r'C:\Users\Priti\Desktop\train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [75]:
X=data[['Pclass','Sex','Age','SibSp', 'Fare', 'Parch']]
X.head()

   Pclass     Sex   Age  SibSp     Fare  Parch
0       3    male  22.0      1   7.2500      0
1       1  female  38.0      1  71.2833      0
2       3  female  26.0      0   7.9250      0
3       1  female  35.0      1  53.1000      0
4       3    male  35.0      0   8.0500      0

In [76]:
Y=data[['Survived']]
Y.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [77]:
gender=data['Sex']
label=[]
for i in gender:
    if (i=='male'):
        label.append(1)
    else:
        label.append(0)
        
label

[1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1]

In [82]:
X['Sex']=label
X
X=X.fillna(0)
X

     Pclass  Sex   Age  SibSp      Fare  Parch
0         3    1  22.0      1    7.2500      0
1         1    0  38.0      1   71.2833      0
2         3    0  26.0      0    7.9250      0
3         1    0  35.0      1   53.1000      0
4         3    1  35.0      0    8.0500      0
5         3    1   0.0      0    8.4583      0
6         1    1  54.0      0   51.8625      0
7         3    1   2.0      3   21.0750      1
8         3    0  27.0      0   11.1333      2
9         2    0  14.0      1   30.0708      0
10        3    0   4.0      1   16.7000      1
11        1    0  58.0      0   26.5500      0
12        3    1  20.0      0    8.0500      0
13        3    1  39.0      1   31.2750      5
14        3    0  14.0      0    7.8542      0
15        2    0  55.0      0   16.0000      0
16        3    1   2.0      4   29.1250      1
17        2    1   0.0      0   13.0000      0
18        3    0  31.0      1   18.0000      0
19        3    0   0.0      0    7.2250      0
20        2    1  35.0      0   26.0000      0
21        2    1  34.0      0   13.0000      0
22        3    0  15.0      0    8.0292      0
23        1    1  28.0      0   35.5000      0
24        3    0   8.0      3   21.0750      1
25        3    0  38.0      1   31.3875      5
26        3    1   0.0      0    7.2250      0
27        1    1  19.0      3  263.0000      2
28        3    0   0.0      0    7.8792      0
29        3    1   0.0      0    7.8958      0
..      ...  ...   ...    ...       ...    ...
861       2    1  21.0      1   11.5000      0
862       1    0  48.0      0   25.9292      0
863       3    0   0.0      8   69.5500      2
864       2    1  24.0      0   13.0000      0
865       2    0  42.0      0   13.0000      0
866       2    0  27.0      1   13.8583      0
867       1    1  31.0      0   50.4958      0
868       3    1   0.0      0    9.5000      0
869       3    1   4.0      1   11.1333      1
870       3    1  26.0      0    7.8958      0
871       1    0  47.0      1   52.5542      1
872       1    1  33.0      0    5.0000      0
873       3    1  47.0      0    9.0000      0
874       2    0  28.0      1   24.0000      0
875       3    0  15.0      0    7.2250      0
876       3    1  20.0      0    9.8458      0
877       3    1  19.0      0    7.8958      0
878       3    1   0.0      0    7.8958      0
879       1    0  56.0      0   83.1583      1
880       2    0  25.0      0   26.0000      1
881       3    1  33.0      0    7.8958      0
882       3    0  22.0      0   10.5167      0
883       2    1  28.0      0   10.5000      0
884       3    1  25.0      0    7.0500      0
885       3    0  39.0      0   29.1250      5
886       2    1  27.0      0   13.0000      0
887       1    0  19.0      0   30.0000      0
888       3    0   0.0      1   23.4500      2
889       1    1  26.0      0   30.0000      0
890       3    1  32.0      0    7.7500      0

[891 rows x 6 columns]

In [84]:
print (rf.fit(X,Y))
print (rf.classes_)
print (rf.n_classes_)
print (rf.estimators_)
print (rf.n_estimators)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)
[0 1]
2
[DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=1677822608, splitter='best'), DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=2110745303, splitter='best'), DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=1284728671, splitter='best'), DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=1554496282, splitter='best'), DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=714987440, splitter='best'), DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=1328851349, splitter='best'), DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=1376130881, splitter='best'), DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=159123419, splitter='best'), DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=942161857, splitter='best'), DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=1026244938, splitter='best')]
10

C:\Users\Priti\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [34]:
X.describe()

           Pclass         Sex         Age       SibSp        Fare       Parch
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     2.308642    0.647587   29.699118    0.523008   32.204208    0.381594
std      0.836071    0.477990   14.526497    1.102743   49.693429    0.806057
min      1.000000    0.000000    0.420000    0.000000    0.000000    0.000000
25%      2.000000    0.000000   20.125000    0.000000    7.910400    0.000000
50%      3.000000    1.000000   28.000000    0.000000   14.454200    0.000000
75%      3.000000    1.000000   38.000000    1.000000   31.000000    0.000000
max      3.000000    1.000000   80.000000    8.000000  512.329200    6.000000

In [37]:
X.describe()

           Pclass         Sex         Age       SibSp        Fare       Parch
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     2.308642    0.647587   23.799293    0.523008   32.204208    0.381594
std      0.836071    0.477990   17.596074    1.102743   49.693429    0.806057
min      1.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      2.000000    0.000000    6.000000    0.000000    7.910400    0.000000
50%      3.000000    1.000000   24.000000    0.000000   14.454200    0.000000
75%      3.000000    1.000000   35.000000    1.000000   31.000000    0.000000
max      3.000000    1.000000   80.000000    8.000000  512.329200    6.000000

In [48]:
data1=pd.read_csv(r'C:\Users\Priti\Desktop\test.csv')
data1.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [52]:
X1=data1[['Pclass','Sex','Age','SibSp', 'Fare', 'Parch']]
X1.head()

   Pclass     Sex   Age  SibSp     Fare  Parch
0       3    male  34.5      0   7.8292      0
1       3  female  47.0      1   7.0000      0
2       2    male  62.0      0   9.6875      0
3       3    male  27.0      0   8.6625      0
4       3  female  22.0      1  12.2875      1

In [53]:
gender=data1['Sex']
label1=[]
for i in gender:
    if (i=='male'):
        label1.append(1)
    else:
        label1.append(0)
        
label1

[1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1]

In [55]:
X1['Sex']=label1
X1.head()

C:\Users\Priti\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   Pclass  Sex   Age  SibSp     Fare  Parch
0       3    1  34.5      0   7.8292      0
1       3    0  47.0      1   7.0000      0
2       2    1  62.0      0   9.6875      0
3       3    1  27.0      0   8.6625      0
4       3    0  22.0      1  12.2875      1

In [58]:
X1=X1.fillna(0)
X1.head()

   Pclass  Sex   Age  SibSp     Fare  Parch
0       3    1  34.5      0   7.8292      0
1       3    0  47.0      1   7.0000      0
2       2    1  62.0      0   9.6875      0
3       3    1  27.0      0   8.6625      0
4       3    0  22.0      1  12.2875      1

In [59]:
X1.describe()

           Pclass         Sex         Age       SibSp        Fare       Parch
count  418.000000  418.000000  418.000000  418.000000  418.000000  418.000000
mean     2.265550    0.636364   24.044258    0.447368   35.541956    0.392344
std      0.841838    0.481622   17.599608    0.896760   55.867684    0.981429
min      1.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      1.000000    0.000000    9.000000    0.000000    7.895800    0.000000
50%      3.000000    1.000000   24.000000    0.000000   14.454200    0.000000
75%      3.000000    1.000000   35.750000    1.000000   31.471875    0.000000
max      3.000000    1.000000   76.000000    8.000000  512.329200    9.000000

In [60]:
rf.fit(X,Y)
rf.classes_
rf.n_classes_
rf.estimators_
rf.n_estimators
rf.predict

C:\Users\Priti\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

10

In [71]:
#P=rf.predict(X1)
#del X1['Survived']
X1

     Pclass  Sex   Age  SibSp      Fare  Parch
0         3    1  34.5      0    7.8292      0
1         3    0  47.0      1    7.0000      0
2         2    1  62.0      0    9.6875      0
3         3    1  27.0      0    8.6625      0
4         3    0  22.0      1   12.2875      1
5         3    1  14.0      0    9.2250      0
6         3    0  30.0      0    7.6292      0
7         2    1  26.0      1   29.0000      1
8         3    0  18.0      0    7.2292      0
9         3    1  21.0      2   24.1500      0
10        3    1   0.0      0    7.8958      0
11        1    1  46.0      0   26.0000      0
12        1    0  23.0      1   82.2667      0
13        2    1  63.0      1   26.0000      0
14        1    0  47.0      1   61.1750      0
15        2    0  24.0      1   27.7208      0
16        2    1  35.0      0   12.3500      0
17        3    1  21.0      0    7.2250      0
18        3    0  27.0      1    7.9250      0
19        3    0  45.0      0    7.2250      0
20        1    1  55.0      1   59.4000      0
21        3    1   9.0      0    3.1708      1
22        1    0   0.0      0   31.6833      0
23        1    1  21.0      0   61.3792      1
24        1    0  48.0      1  262.3750      3
25        3    1  50.0      1   14.5000      0
26        1    0  22.0      0   61.9792      1
27        3    1  22.5      0    7.2250      0
28        1    1  41.0      0   30.5000      0
29        3    1   0.0      2   21.6792      0
..      ...  ...   ...    ...       ...    ...
388       3    1  21.0      0    7.7500      0
389       3    1   6.0      3   21.0750      1
390       1    1  23.0      0   93.5000      0
391       1    0  51.0      0   39.4000      1
392       3    1  13.0      0   20.2500      2
393       2    1  47.0      0   10.5000      0
394       3    1  29.0      3   22.0250      1
395       1    0  18.0      1   60.0000      0
396       3    1  24.0      0    7.2500      0
397       1    0  48.0      1   79.2000      1
398       3    1  22.0      0    7.7750      0
399       3    1  31.0      0    7.7333      0
400       1    0  30.0      0  164.8667      0
401       2    1  38.0      1   21.0000      0
402       1    0  22.0      0   59.4000      1
403       1    1  17.0      0   47.1000      0
404       1    1  43.0      1   27.7208      0
405       2    1  20.0      0   13.8625      0
406       2    1  23.0      1   10.5000      0
407       1    1  50.0      1  211.5000      1
408       3    0   0.0      0    7.7208      0
409       3    0   3.0      1   13.7750      1
410       3    0   0.0      0    7.7500      0
411       1    0  37.0      1   90.0000      0
412       3    0  28.0      0    7.7750      0
413       3    1   0.0      0    8.0500      0
414       1    0  39.0      0  108.9000      0
415       3    1  38.5      0    7.2500      0
416       3    1   0.0      0    8.0500      0
417       3    1   0.0      1   22.3583      1

[418 rows x 6 columns]

In [72]:
X1['Survived']=rf.predict(X1)
X1

     Pclass  Sex   Age  SibSp      Fare  Parch  Survived
0         3    1  34.5      0    7.8292      0         0
1         3    0  47.0      1    7.0000      0         0
2         2    1  62.0      0    9.6875      0         0
3         3    1  27.0      0    8.6625      0         1
4         3    0  22.0      1   12.2875      1         0
5         3    1  14.0      0    9.2250      0         0
6         3    0  30.0      0    7.6292      0         0
7         2    1  26.0      1   29.0000      1         0
8         3    0  18.0      0    7.2292      0         1
9         3    1  21.0      2   24.1500      0         0
10        3    1   0.0      0    7.8958      0         0
11        1    1  46.0      0   26.0000      0         0
12        1    0  23.0      1   82.2667      0         1
13        2    1  63.0      1   26.0000      0         0
14        1    0  47.0      1   61.1750      0         1
15        2    0  24.0      1   27.7208      0         1
16        2    1  35.0      0   12.3500      0         0
17        3    1  21.0      0    7.2250      0         1
18        3    0  27.0      1    7.9250      0         0
19        3    0  45.0      0    7.2250      0         0
20        1    1  55.0      1   59.4000      0         0
21        3    1   9.0      0    3.1708      1         0
22        1    0   0.0      0   31.6833      0         1
23        1    1  21.0      0   61.3792      1         0
24        1    0  48.0      1  262.3750      3         1
25        3    1  50.0      1   14.5000      0         0
26        1    0  22.0      0   61.9792      1         1
27        3    1  22.5      0    7.2250      0         1
28        1    1  41.0      0   30.5000      0         1
29        3    1   0.0      2   21.6792      0         0
..      ...  ...   ...    ...       ...    ...       ...
388       3    1  21.0      0    7.7500      0         0
389       3    1   6.0      3   21.0750      1         0
390       1    1  23.0      0   93.5000      0         0
391       1    0  51.0      0   39.4000      1         1
392       3    1  13.0      0   20.2500      2         0
393       2    1  47.0      0   10.5000      0         0
394       3    1  29.0      3   22.0250      1         0
395       1    0  18.0      1   60.0000      0         1
396       3    1  24.0      0    7.2500      0         0
397       1    0  48.0      1   79.2000      1         1
398       3    1  22.0      0    7.7750      0         0
399       3    1  31.0      0    7.7333      0         0
400       1    0  30.0      0  164.8667      0         1
401       2    1  38.0      1   21.0000      0         0
402       1    0  22.0      0   59.4000      1         1
403       1    1  17.0      0   47.1000      0         0
404       1    1  43.0      1   27.7208      0         0
405       2    1  20.0      0   13.8625      0         0
406       2    1  23.0      1   10.5000      0         0
407       1    1  50.0      1  211.5000      1         0
408       3    0   0.0      0    7.7208      0         1
409       3    0   3.0      1   13.7750      1         1
410       3    0   0.0      0    7.7500      0         1
411       1    0  37.0      1   90.0000      0         1
412       3    0  28.0      0    7.7750      0         0
413       3    1   0.0      0    8.0500      0         0
414       1    0  39.0      0  108.9000      0         1
415       3    1  38.5      0    7.2500      0         0
416       3    1   0.0      0    8.0500      0         0
417       3    1   0.0      1   22.3583      1         1

[418 rows x 7 columns]